h1.welcome,
p.welcome {
  color: white;
}

.container-welcome {
  background: url(../../assets/welcome-bg.jpg) no-repeat center;
  background-size: cover;
}

.title-container,
.button-container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  height: 50%;
  width: 100%;
}

.title-container {
  justify-content: flex-end;
}

.button-container {
  justify-content: center;
}

.btn-custom {
  display: block;
  width: 200px;
  margin-bottom: 20px;
}
