h1,
p {
  color: white;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  height: 100vh;
}

.title-container,
.button-container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
}

.title-container {
  justify-content: flex-end;
}

.button-container {
  justify-content: center;
}

.btn-custom {
  display: block;
  width: 200px;
  margin-bottom: 20px;
}
